@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gowun Dodum', sans-serif;  color: var(--color-6Z-dzM8-1);
}

/* Root configurations */
:root {
  --cf-font-size-headline-xl: 3.125rem;
  --cf-font-size-headline-l: 2.375rem;
  --cf-font-size-headline-m: 1.75rem;
  --cf-font-size-headline-s: 1.3125rem;
  --cf-font-size-subheadline-xl: 1.125rem;
  --cf-font-size-subheadline-l: 1rem;
  --cf-font-size-subheadline-m: 0.875rem;
  --cf-font-size-subheadline-s: 0.75rem;
  --cf-font-size-content-xl: 1.25rem;
  --cf-font-size-content-l: 1.125rem;
  --cf-font-size-content-m: 1rem;
  --cf-font-size-content-s: 0.75rem;
  --cf-font-size-mobile-headline-xl: 1.95rem;
  --cf-font-size-mobile-headline-l: 1.5rem;
  --cf-font-size-mobile-headline-m: 1.25rem;
  --cf-font-size-mobile-headline-s: 1rem;
  --cf-font-size-mobile-subheadline-xl: 1.25rem;
  --cf-font-size-mobile-subheadline-l: 1rem;
  --cf-font-size-mobile-subheadline-m: 0.8rem;
  --cf-font-size-mobile-subheadline-s: 0.64rem;
  --cf-font-size-mobile-content-xl: 1.56rem;
  --cf-font-size-mobile-content-l: 1.25rem;
  --cf-font-size-mobile-content-m: 1rem;
  --cf-font-size-mobile-content-s: 0.8rem;

/* ROOT COLORS */
  --color-6Z-dzM8-1: rgb(29, 46, 59);
  --color-6Z-dzM8-2: rgb(47, 47, 47);
  --color-6Z-dzM8-3: rgb(245, 249, 252);
  --color-6Z-dzM8-4: rgb(96, 96, 107);
  --color-6Z-dzM8-5: rgb(255, 255, 255);
  --color-6Z-dzM8-6: rgb(245, 249, 252);
  --color-6Z-dzM8-7: rgb(28, 188, 255);
  --color-6Z-dzM8-8: rgb(228, 78, 56);
  /* PADDING */
  --padding: 0 130px;  
}


.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10%;
  overflow: hidden;
}

.checkbox {
  color: white;
  font-size: 16px;
  margin: 8px;
  font-weight: 600;
}

.spinnerE {
  width: 500px;
}

.skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-bar{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0, 0, 0.1);
}

.skill-box .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  background: #1677FF;
  animation: progress 4s ease-in-out forwards;
  opacity: 0;
}

@keyframes progress {
  0% {
      width: 0;
      opacity: 1;
  }
  100% {
      opacity: 1;
  }
}

.skill-per .tooltip{
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: #1677FF;
  z-index: 1;
}

.tooltip::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #1677FF;
  transform: translateX(-50%) rotate(45deg);
}

/* ================================= */

.spinner {
  display: none;
}

.spinner:checked~.label {
  animation: none;
  transition: border 0.5s ease-out;
}

.spinner:checked~.label .check {
  display: block;
}

.label {
  display: flex;
  width: 2rem;
  height: 2rem;
  position: relative;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-left: 3px solid #472db9;
  animation: spin 1.2s linear infinite, colorChange 3s linear infinite;
}

.label .check {
  top: 58%;
  left: 2px;
  width: 9px;
  content: "";
  height: 21px;
  display: none;
  position: absolute;
  transform-origin: left top;
  animation: check 0.8s ease;
  border-top: 3px solid #5cb85c;
  border-right: 3px solid #5cb85c;
  transform: scaleX(-1) rotate(135deg);
}

@keyframes check {
  0% {
      height: 0;
      width: 0;
      opacity: 1;
  }

  20% {
      height: 0;
      width: 8px;
      opacity: 1;
  }

  40% {
      height: 21px;
      width: 8px;
      opacity: 1;
  }

  100% {
      height: 21px;
      width: 8px;
      opacity: 1;
  }
}

@keyframes colorChange {
  40% {
      border-left: 3px solid #2db981;
  }

  60% {
      border-left: 3px solid #b97f2d;
  }

  80% {
      border-left: 3px solid #b92db2;
  }

  100% {
      border-left: 3px solid #b92d2d;
  }
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}